/* #region Header and navigation */
.site-head {
  margin-top: 2rem;

  @media screen and (min-width: 48em) {
    margin-top: 4rem;
  }

  & :focus {
    outline-color: $color-primary-cyan;
  }

  &__inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
    justify-content: space-between;
  }

  &__brand {
    display: block;
    width: 3.8125rem;
  }
}

.navigation {
  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem 2.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0.1rem;
  }

  a {
    color: $color-primary-dark-gray;
    font-size: 0.75rem;
    font-weight: $font-weight-semi-bold;
    letter-spacing: 0.125rem;
    text-decoration: none;
    text-transform: uppercase;

    &.active,
    &:hover {
      color: $color-primary-cyan;
    }

    &:focus {
      outline-color: transparent;
      text-decoration: underline;
    }
  }
}

.burger-menu {
  &__bar {
    background-image: url(/images/icons/hamburger.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    display: block;
    height: 13px;
    width: 24px;
  }

  @media screen and (max-width: 47em) {
    &__trigger {
      background: transparent;
      border: none;
      cursor: pointer;
      display: block;
      height: 2rem;
      position: relative;
      width: 2rem;
      z-index: 1;

      &[aria-expanded='true'] {
        .burger-menu__bar {
          background-image: url(/images/icons/close.svg);
          height: 19px;
          width: 18px;
        }
      }
    }

    &__panel {
      -webkit-overflow-scrolling: touch;
      background: $color-primary-dark-gray;
      height: 195px;
      left: 109px;
      opacity: 0;
      // overflow-y: auto;
      padding: 2rem 0;
      position: absolute;
      top: 88px;
      visibility: hidden;
      width: 233px;

      @media screen and (orientation: landscape) {
        left: 250px;
      }
    }

    .navigation {
      ul {
        flex-direction: column;

        > * + * {
          margin-top: 1rem;
        }
      }

      li {
        font-size: 0.75rem;
      }

      a {
        color: #ffffff;
      }
    }

    &[data-status='open'] {
      .burger-menu__panel {
        opacity: 1;
        transition: opacity 400ms ease;
        visibility: visible;

        > * {
          opacity: 1;
          transform: translateY(0);
          transition: transform 100ms cubic-bezier(0.17, 0.67, 0, 0.87) 100ms,
            opacity 100ms ease 100ms;
        }
      }
    }

    &[data-status='closed'] {
      .burger-menu__panel > * {
        opacity: 0;
        transform: translateY(5rem);
      }
    }
  }
}

@media screen and (min-width: 48em) {
  .burger-menu__trigger {
    display: none;
  }
}
/* #endregion Header and navigation */
