/* #region Social Icons */
.social-icons {
  align-content: center;
  display: flex;
  margin: 1.5rem 0 0;

  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem 0.9375rem;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 48em) {
      column-gap: 1rem;
    }
  }

  a {
    color: $color-headings;
    font-size: 0.75rem;
    font-weight: $font-weight-semi-bold;
    letter-spacing: 0.125rem;
    text-decoration: none;
    text-transform: uppercase;

    &:active,
    &:hover {
      color: $color-primary-cyan;
    }
  }
}
/* #endregion Social Icons */
